#menuLabel{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
#menu{
    -fx-background-color: linear-gradient(#32a1ff, #afbce6);
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 0.1px;
}
#selection{
    -fx-background-color: #D3D3D3;
}
.split-pane > .split-pane-divider {
    -fx-padding: 0 0.01em 0 0.01 em;
}